
<h1 class = "text-center mt-4">Lista mebli</h1>

<div class="flickr_pagination">
    <%= will_paginate @mebles, :container => false %>
</div>
<%= render 'mebles' %>

<div class="flickr_pagination mb-4">
    <%= will_paginate @mebles, :container => false %>
</div>

<script>
    var coll = document.getElementsByClassName("collapsibles");
    var i;

    for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("activek");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
        content.style.maxHeight = null;
        } else {
        content.style.maxHeight = content.scrollHeight + "px";
        }
    });
    }
</script>

