<h1 class = "text-center mt-4">Profil użytkownika <%= @user.username %></h1>


<% (0...@user.images.count).each do |image|%>
    <div style="width:300px; height:300px;" class = "rounded mx-auto d-block">
        <%= image_tag(@user.images[image], style: 'display: block; margin: 50px; width: 80%;') %>
    </div>
<% end %>

<h3 class = "text-center mt-4">Meble</h3>

<%= render 'mebles/mebles'%>