

<div class="container" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4 text-success font-weight-bold">MEBLES</h1>
    <p class="lead text-success" id="naglowek2">Robimy meble od lat, przekonaj się i sprawdź naszą ofertę.</p>
    <hr class="my-4">
    <p id="naglowek3">Sprawdź nas!</p>
    <p>
    <a class="btn btn-outline-success btn-lg" id="przycisk" href="/mebles" role="button">Lista mebli</a>
  <a class="btn btn-outline-success btn-lg" id="przycisk" href="/about" role="button">O firmie</a>
  </p>
  </div>
</div>
<p>
    <!--%= link_to 'Lista mebli', mebles_path %>
    #<%= link_to 'Strona o mnie', about_path %-->
</p>