<h1 class = "text-center mt-4">Tworzenie nowej kategorii</h1>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-10">
        <%= render 'form' %>
      </div>
      <div class="mb-3">
        <%= link_to '[ Anuluj i wróc do listy kategorii ]', categories_path, class: "text-secondary" %>
      </div>
  </div>
    
</div>
     
